<!DOCTYPE html>
<html>
    <head><title>AVENGERS</title></head>
    <body bgcolor = "lavender"><center>
        <img src = "https://images.thedirect.com/media/photos/doom4_G7X2UJe.png" height = "200">
    </center>
    <P>AVENGERS is a team of six clueless but curious freshers.</P>
    <h4>The Team comprises of:</h4>
    <p><font color = "blue"><b>
        Ruhaan, Sampada, Riddhima, Navya, Tomar, Kaushik
    </b>
    </font></p>
    <section>
        <p><b>SPECIAL NOTE FOR TEAM MEMBERS:</b></p>
        <p>Enter / succeded by your first name(ALL Letters capital) with no space in between,
            <br>
            ALL this to see dedicated page for all our Teammates.
        </p>
    </section>
    </body>
</html>