<!DOCTYPE html>
<html>
    <head><title>ABOUT NAVYA</title></head>
    <body bgcolor="pink">
        <h1>ABOUT NAVYA</h1>
        <p>I dont know much about her, but still all I can say is:</p>
        <ul>
            <li>Better than me</li>
            <li>The Ship of Desert</li>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRt93GBgOfdMC9JBS4w3CgCi5e7aroSdUtXNN4bXXzwfw&s=10" height = "300">
            <li>Only one from a different branch</li>
            <li>Such a talented person but still ended with us 😂😂😂</li>
        </ul>
    </body>
</html>