<!DOCTYPE html>
<html>
    <head>
        <title>Signup Form</title>
    </head>
    <body bgcolor="lavender">
        <font color="red">
            <h1>REGISTER FORM</h1>
        </font>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for msg in messages %}
                    <p>{{msg}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <form action="/register" method="POST">
            <label>Username:</label>
            <input type="text" name = "username" placeholder="Username" required autocomplete="off">
            <br><br>
            <label for="role">Account Type:</label>
            <select name="role" id="role" required>
                <option value="Startup">Startup</option>
                <option value="Gov_Officer">Gov_Officer</option>
                <option value="Expert Evaluator"> Expert Evaluator</option>
            </select>
            <br><br>
            <label>Password:</label>
            <input type="text" name="password" placeholder="xxxxxxxxx" required>
            <br><br>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>