<!DOCTYPE html>
<html>
    <head><title>Ruhaan Nagpal</title></head>
    <body bgcolor="black">
        <font color="white">
            <h1>ABOUT RUHAAN</h1>
        <section>
            <p>Ruhaan Nagpal is the eighth wonder of the world,
                <br>
                Known for his ability to instantly make friends and connect with other people,
                <br>
                He is in the SIH team because, There must be some reason which i dont know, I mean he is the main pitcher 
                and presenter of our project.
            </p>
            <p>
                Mr.Nagpal thinks that everyone in the world notices him and his outfit, so he everyday matches up with his 
                watches and clothes, but the reality is <b>No one notices</b>, so he keep his mind away from this harsh truth 
                but still believing his own thinking (Just Trash).
            </p>
        </section>
        </font>
    </body>
</html>