<!DOCTYPE html>
<html>
    <head><title>ABOUT SAMPADA</title></head>
    <body bgcolor="darkblue">
        <font color="yellow"><h1>ABOUT SAMPADA</h1>
        <p>I don't know much about her (again!, Please don't kick me out of the team)</p>
        <p>Based on how much I know:</p>
        <ol>
            <li>She laughs like Santa Claus</li>
            <li>Most funny in the team after <b>The Ruhaan Nagpal</b></li>
            <li>Knows <b>SQL</b>, A rare trait in freshers</li>
            <li>Also knows Python(Common Trait), can be our Backend Guy</li>
        </ol></font>
    </body>
</html>