<!DOCTYPE html>
<html>
    <head><title>ABOUT SARTHAK</title></head>
    <body bgcolor="orange">
        <h1>ABOUT SARTHAK</h1>
        <p>I really dont know about SARTHAK, all i know is he 
            suffers from the same fate I suffer, being called by your <b>Surname</b>
            <br>
            So he is Tomar onwards.
        </p>
        <section>
            <p>Aside from this, I know that he knows some good HTML and CSS, even better than me 🤔🤔🤔</p>
            <p>Can be our Frontend Guy</p>
        </section>
    </body>
</html>